.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.5rem 2rem;
}

.main-image {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
}

.main-image img {
  width: 100%;
  object-fit: fill;
}
