.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.5rem 2rem;
}

.main-image img {
  width: 100%;
  top: 0;
  max-height: 100vh;
  position: absolute;
  z-index: -1;
}
