.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.control label {
  color: #333;
  font-size: 0.85rem;
  margin-bottom: 0.15rem;
}

.control input {
  padding: 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin: 0;
}

.error input {
  border-color: crimson;
}

.error p {
  color: crimson;
  font-size: 0.85rem;
  margin: 0;
}

