.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  margin-right: -0.25rem;
}

button {
  font-weight: bold;
  color: #fff;
  background: crimson;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 16px;
}

button.button--alt {
  color: crimson;
  background: transparent;
  border: 1px solid crimson;
}

.cart-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 45vh;
  overflow-y: scroll;
  /* scrollbar positioning fix */
  margin-right: -1rem;
  padding-right: 1rem;
}
